#login-form{

width: 30%;
margin: auto;



}
#addForm{
    /* position: absolute;
    z-index: 999;
    top: 10;
    left: ; */
    width: 70%;
    margin: auto;
padding: 20px;
    text-align: center;
    
 
}